*~
*.elc
abbrev_defs
auto-save-list
cider-history
recentf
savehist
saveplace
save
elpa
el-get
semanticdb
url
ede-projects.el
.DS_Store
custom.el
places
.smex-items
savefile/
projectile-bookmarks.eld
projects
.projects
session*
.cask
tramp
/var/pcache
.emacs.desktop
.emacs.desktop.lock
network-security.data
transient/
var/
.cache/
.lsp-session*
lisp/init-local.el
site-lisp
straight
!straight/versions
elpaca
elpaca.lock
eln-cache
forge-database.sqlite
sql
ielm
.org-id-locations
eca
.extension
.chatgpt-shell.el
.mc-lists.el
request/
